.3dbody {
  background: #000;
  perspective: 1000px;
  overflow: hidden;
}

.content {
  position: relative;
  transform-style: preserve-3d;
  width: 1500px;
  height: 1000px;
  margin: auto;
  animation: rotate 30s infinite linear;
}

.cube-left {
  position: absolute;
  top: 50%;
  left: 25%;
  transform-style: preserve-3d;
  width: 250px;
  height: 250px;
  margin: auto;
  animation: rotate 30s infinite linear;
}

.cube-right {
  position: absolute;
  top: 50%;
  right: 25%;
  transform-style: preserve-3d;
  width: 400px;
  height: 250px;
  margin: auto;
  animation: rotate 30s infinite linear;
}
.box-top {
  position: absolute;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: solid 3px #ffffff;
/*  background: white;*/
  transform: rotateX(90deg) translateZ(125px);
}
.box-bottom {
  position: absolute;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: solid 3px #ffffff;
/*  background: red;*/
  transform: rotateX(90deg) translateZ(-125px);
}
.box-front {
  position: absolute;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: solid 3px #ffffff;
/*  background: green;*/
  transform: rotateY(90deg) translateZ(-125px);
}
.box-back {
  position: absolute;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: solid 3px #ffffff;
/*  background: blue;*/
  transform: rotateY(90deg) translateZ(125px);
}
.box-left {
  position: absolute;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: solid 3px #ffffff;
/*  background: yellow;*/
  transform: rotateY(180deg) translateZ(125px);
}
.box-right {
  position: absolute;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  border: solid 3px #ffffff;
/*  background: orange;*/
  transform: rotateY(180deg) translateZ(-125px);
}
@keyframes rotate {
  0% {transform: rotateX(0deg) rotateY(0deg)}
  33% {transform: rotateX(-20deg) rotateY(120deg)}
  66% {transform: rotateX(20deg) rotateY(240deg)}
  100% {transform: rotateX(0deg) rotateY(360deg)}
}