#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background: rgba(123,123,123,0.2); /* 背面のbodyを少しだけ暗くし、操作できないニュアンスを出す */
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  background: #C0C0C0;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 5px #888; /* 背面のbodyの上に立体的にのせているイメージ */
}

.modal-inner {
  position: relative; /* 閉じるボタンの相対位置の基準とする */
  margin: 10px auto;
  width: 90%;
  height: auto;
}

#modal-title {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #ff1493;
  text-align: center;
}

.modal-text {
  padding: 5%;
  width: 100%;
  box-sizing: border-box;
  font-size: 30px;
  letter-spacing: 2px;
}

.modal1-close {
  position: absolute;
  color: #444;
  cursor: pointer;

  /* buttonタグのリセットCSS */
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;

  padding: 8px 8px;
  cursor: pointer; /* ポインターカーソルを表示 */
}

.modal1-close[disabled]{
  background-color: #ccc;
  cursor: not-allowed; /* クリック不可のカーソルを表示 */  
}