#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
/*  height: 100%;*/
  height: 100vh;
  overflow-y: scroll;
  background: #C0C0C0;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 5px #888; 
}

.modal-inner {
  position: relative; /* Use as a reference for the relative position of the close button */
  margin: 10px auto;
  width: 90%;
  height: auto;
}

#modal-title {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #ff1493;
  text-align: center;
}

.modal-text {
  padding: 5%;
  width: 100%;
  box-sizing: border-box;
  font-size: 30px;
  letter-spacing: 2px;
}

.modal1-close {
  position: absolute;
  color: #444;
  cursor: pointer;

  /* buttonタグのリセットCSS */
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;

  padding: 8px 8px;
  cursor: pointer; /* Show pointer cursor */
}

.modal1-close[disabled]{
  background-color: #ccc;
  cursor: not-allowed; /* Show non-clickable cursor */  
}